<h1>All Recipes</h1>

<ul id="recipes">
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) , class: 'article_title' %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Recipe", new_recipe_path, class: "new_article btn btn-primary" %>
